* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    /* background-color: red; */
    height: 10000px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 75px;
}

.es-container {
    height: 130px;
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 15px;
}

.paragrafo {
    height: 50px;
    /* background-color: cyan; */
}

.quadrato-1 {
    height: 100px;
    width: 100px;
    /* background-color: red; */
    border: 1px solid red;
}

.quadrato {
    height: 100px;
    width: 100px;
    background-color: red;
}

.quadrato-5 {
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 20px;
}

